<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta name="theme-color" content="#fff">
  <meta property="og:title" content="API">
  <meta property="og:image" content="/static/imgs/logo.png">
  <meta property="og:description" content="">
  <meta property="og:url" content="http://pinpper.com/">
  <title>API</title>
  <link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/css/index.css" />
  <link rel="stylesheet" href="/static/libs/bulma/css/bulma.css" />
  <link rel="stylesheet" href="/static/libs/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="/static/libs/icomoon/style.css">
</head>

<body>
  <div class="backgroudFull">
    <div class="container">
      <center>
        <div class="box boxLogin">
          <center>
            <div class="logoCenter">
              <a href="/">
                <!-- <img src="/static/imgs/logo.png" /> -->
              </a>
            </div>
          </center>
          <div>

            <section class="hero">
              <div class="hero-body">
                <div style="text-align: center;">

                  <h2 class="subtitle">
                    <b>API - ONLINE</b>
                  </h2>

                </div>
              </div>
              <section>

          </div>
        </div>
      </center>
    </div>
  </div>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137863964-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-137863964-1', { 'optimize_id': 'GTM-K4SDLT9' });
  </script>
</body>

</html>